<div class="collapse" id="config" aria-expanded="true">

  <table class="table table-sm table-bordered">
{% load util_filter %}

  {% for f in field_names %}
  <tr></tr>
    <th>{{f}}:</th>
    <th>{{field_readable|getattribute_iter:f}}</th>
  <tr></tr>
  {% endfor %}
  </table>


  <section>



  <div class="card card-info card-inverse">
    <div class="card-block">
      <h4 class="card-title">Configuration</h4>
      <p class="card-text">
      </p><dl class="row">
        <dt class="col-sm-3">CLUSTERS_FILE</dt>
        <dd class="col-sm-9">/cath/homes2/ucbtnld/orengosvn/update/trunk/v4_2_0/clusters.json</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">COMMIT</dt>
        <dd class="col-sm-9">NO (rollback)</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">DB_HOST</dt>
        <dd class="col-sm-9">fletcher</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">DB_NAME</dt>
        <dd class="col-sm-9">cathdb_current</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">DB_PASS</dt>
        <dd class="col-sm-9">?????????????</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">DB_USER</dt>
        <dd class="col-sm-9">nataliedawson</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-3">MODE</dt>
        <dd class="col-sm-9">TEST</dd>
      </dl>
      <p></p>
    </div>
  </div>

  </section>

</div>