<script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jspanel3/3.9.3/jquery.jspanel.css"  crossorigin="anonymous">

{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jspanel3/3.9.3/jquery.jspanel-compiled.min.js"  crossorigin="anonymous"></script>  #}
<script src="https://rawgit.com/Flyer53/jsPanel3/master/source/jquery.jspanel-compiled.js
"  crossorigin="anonymous"></script> 
{# <script src="https://rawgit.com/biasmv/pv/master/bio-pv.min.js" crossorigin="anonymous"></script> #}
<script src="http://biasmv.github.io/pv/js/pv.min.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<script src="https://d3js.org/d3.v4.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!--   <link rel="stylesheet" href="/style.css">
  <script src="/merge_tree.js"></script>
 -->
<script type="text/javascript">
function addslashes(string) {
    return string.replace(/\\/g, '\\\\').
        replace(/\u0008/g, '\\b').
        replace(/\t/g, '\\t').
        replace(/\n/g, '\\n').
        replace(/\f/g, '\\f').
        replace(/\r/g, '\\r').
        replace(/'/g, '\\\'').
        replace(/"/g, '\\"');
};
</script>

<style type="text/css">
    
.not_bold{
    font-weight:normal
}​

</style>


<script type="text/javascript">
//   function highlight(j_alias){
//   $(j_alias).addClass('bg-info').siblings().removeClass('bg-info');
//   // $('body').
//   // $(j_alias).get(0).scrollIntoView();
//   // scrollTo(j_alias)
//   // $(j_alias).get(0).click();
// }
// $( document ).ready(function() {

//   $('.clickable-row').click(function() {
//       // $(this).addClass('highlight').siblings().removeClass('highlight');
//       // $(this).addClass('active').siblings().removeClass('active');

//       // $(this).addClass('bg-info').siblings().removeClass('bg-info');
//       highlight(this);
//       // $(j_alias).addClass('bg-info').siblings().removeClass('bg-info');

//       // $(this).find("#view3d").attr("href").eval();
//       // $(this).find("#view3d").trigger()
//       var elem = $(this).find("#view3d");
//       elem = elem.get(0);
//       elem.click();
//       console.dir(elem);
//       });

// });
// $(function () {
//   $('[data-toggle="popover"]').popover()
// })

</script>


{# Loading customised filer #}
{% load util_filter %}
